@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>
<body>
    <div class="card card-solid" style="border-radius:10px">
        <div>
            <section class="content-header bg-primary" style="border-radius:10px">
                <div class="container-fluid">
                    <div class="row">
                        <h1>Admin Ekleme</h1>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-7">
                        @using (Html.BeginForm("AdminAdd", "Authorization", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.Label("Admin Kullanıcı Adı:")
                                @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
                                <br />
                                @Html.Label("Şifre:")
                                @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
                                <br />
                                @Html.Label("Admin Rolü:")
                                @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
                                <br />
                                <button class="btn btn-primary">Ekle</button>
                            </div>
                        }
                    </div>
                    <div class="col-md-5 justify-content-center align-self-center">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>