@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekle</h1>
<br />
<div class="container">
    @using (Html.BeginForm("CategoryAdd", "AdminCategory", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Kategori Adı:")
            @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control"})
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br /><br />
            @Html.Label("Açıklama:")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br /><br />
            <button class="btn btn-primary">Ekle</button>
        </div>
    }
</div>