@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "HeadingUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme</h2>
@using (Html.BeginForm("HeadingUpdate", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingID, new { @class = "form-control" })
        @Html.HiddenFor(x => x.HeadingCreatedDate, new { @class = "form-control" })
        @Html.HiddenFor(x => x.HeadingCreatedID, new { @class = "form-control" })
        @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}