@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "HeadingAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Başlıklar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>
<body>
    <div class="card card-solid" style="border-radius:10px">
        <div>
            <section class="content-header bg-primary" style="border-radius:10px">
                <div class="container-fluid">
                    <div class="row">
                        <h1>Başlık Ekleme</h1>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-7">
                        @using (Html.BeginForm("HeadingAdd", "Heading", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.Label("Başlık Adı")
                                @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Kategori")
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                                <br />
                                <button class="btn btn-success">Ekle</button>
                            </div>
                        }
                    </div>
                    <div class="col-md-5 justify-content-center align-self-center">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>