@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yazarlar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>
<body>
    <div class="card card-solid" style="border-radius:10px">
        <div>
            <section class="content-header bg-primary" style="border-radius:10px">
                <div class="container-fluid">
                    <div class="row">
                        <h1>Yazar Güncelleme</h1>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-7">
                        @using (Html.BeginForm("WriterUpdate", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.WriterCreatedDate, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.WriterCreatedID, new { @class = "form-control" })
                                <br />
                                @Html.Label("Yazar Adı")
                                @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Yazar Soyadı")
                                @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Yazar Mail")
                                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Yazar Şifre")
                                @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Yazar Başlık")
                                @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @class = "text-danger text-bold" })
                                <br />
                                @Html.Label("Yazar Görsel Link")
                                <input type="file" name="WriterImage" class="form-control" />
                                <br />
                                @Html.Label("Yazar Hakkında")
                                @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger text-bold" })
                                <br />
                                <button class="btn btn-success">Güncelle</button>
                            </div>
                        }
                    </div>
                    <div class="col-md-5 justify-content-center align-self-center">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>